<ion-content [fullscreen]="true">
  <div *ngIf="bid" id="container">
    <div class="div-select">
      <ion-select [value]="selected" placeholder="BRL" interface="popover" (ionChange)="selectExchange($event)">
        <ion-select-option *ngFor="let option of ['EUR', 'USD', 'CAD', 'GBP', 'ARS', 'JPY']" value="{{ option }}">{{ option }}</ion-select-option>
      </ion-select>
      <h3 style="font-size: 2em" class="align-start"><ion-icon src="assets/icon/transfer.svg" (click)="changeType()"></ion-icon>=</h3>
    </div>
    <div>
      <h1 style="font-size: 4em; margin-top: 10px; margin-bottom: 20px;">{{ bid | currency: previewSelected }}</h1>
    </div>
    <div class="div-input">
      <ion-input type="number" [value]="numberSelected" (ionChange)="numberChange($event.target.value)"></ion-input>
      <h1>{{selected}} = </h1>
    </div>
    <div>
      <h1 style="font-size: 3em">{{ bid * numberSelected | currency: previewSelected }}</h1>
    </div>
  </div>
  <div id="container" *ngIf="!bid">
    ...
  </div>
</ion-content>
