#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

ion-select {
  margin: auto 140px;
  outline: auto;
  --placeholder-color: white;
  --placeholder-opacity: 1;
}

.align-start {
  text-align: start;
}

ion-icon {
  border-color: white;
  border: 2px solid;
  padding: 5px;
  border-radius: 30px;
  fill: white;
  margin: auto 15% auto 20%;
}

.div-input {
  width: 20%;
  margin: 100px auto auto auto;
  font-weight: bold;

  ion-input {
    outline: auto;
    --padding-start: 0px;
  }
}